@media (min-width: 640px){
  .tweeten-custom-titlebar .is-condensed .tweeten-compose-ccontrol .js-hide-drawer {
     margin: 0px !important;
  }
  
  .tweeten-custom-titlebar .attach-compose-buttons .Button.tweet-button, html.dark .attach-compose-buttons button.tweet-button, html.dark .attach-compose-buttons input.tweet-button[type=button]{
     top: 0px !important;
  }

}

.attach-compose-buttons .Button.tweet-button, html.dark .attach-compose-buttons button.tweet-button, html.dark .attach-compose-buttons input.tweet-button[type=button]{
     top: 5px !important;
}

.js-modal .js-mediatable .med-fullpanel video{
  pointer-events: auto !important;
}
