.js-app-header .app-navigator .app-nav-link[data-action=change-sidebar-width]::after{
  height: 49px !important;
 }
 
 html .app-header.is-condensed .app-header-inner, html .is-condensed .app-header{
  width: 50px !important;
 }

.drawer{
  width: 270px !important;
  left: -270px !important;
}

.is-condensed .app-content{
  left: 50px !important;
}

.is-condensed .js-app-header .js-search{
  width: 50px !important;
  top: 45px !important;
}

.margin-t--8.tweet-button{
        margin-top: 0px !important;
    }
