.app-search-fake {
  border: 0px !important;
 }
 
 .dark .column-nav-link {
  color: #fff !important;
 }

.dark #actions-modal .mdl .cmp .bg-twitter-lightest-gray{
      background-color: #17191b !important;
    border: 0px !important;
}

.dark #actions-modal .mdl.cmp {
      background-color: #17191b !important;
}

.dark .column-type-message .rpl{
  background-color: #17191b !important;
}

.dark .column-options .button-tray {
    background-color: #1b1d1f !important;
}

.dark .js-accounts-column-holder .js-account-manager-container{
  background-color: #17191b !important;
}

.dark .column{
      background-color: #17191b !important;
}


