.js-drawer.drawer.wide {
    width: 400px !important;
    left: -400px !important;
}

.js-hide-drawer {
    margin-right: 28px !important;
    margin-top: 10px !important;
}

.js-compose-controls{
    margin-top: 50px;
}

.js-app-header .app-navigator .app-nav-link[data-action=change-sidebar-width]::after{
	height: 48px !important;
}

.js-app-header .js-search{
    top: 0px !important;
}

html.dark .old-composer-footer .new-composer-opt-in {
    background-color: #17191b;
	transition: 0.1s all ease-in-out;
    opacity: 0.5;
}

html.dark .old-composer-footer .new-composer-opt-in:hover{
	background-color: #17191b !important;
    opacity: 1;
}

html.dark .old-composer-footer {
    background-color: #17191b;
border: 0px !important;
}

.js-drawer .compose .js-add-image-button {
    width: 95% !important;
}

