$textColor: #333;
$accent: #0078D7;
$altTextColor: #fff;
$font: 'circulartweeten',
'Montserrat',
sans-serif;
* {
    outline: none;
}

@font-face {
    font-family: 'circulartweeten';
    src: url('../fonts/circular-book.woff') format('woff'),
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px;
    font-family: $font;
    font-weight: 400;
    .typed-cursor {
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

header {
    background-image: linear-gradient( 160deg, #9708CC 0%, $accent 100%);
    padding: 20px 0;
    color: $altTextColor;
    position: relative;
    img {
        width: 50px;
        height: auto;
        transition: 0.1s all ease-in-out;

        &:hover{
            opacity: 0.85;
        }
    }
    .main {
        width: 62%;
        float: left;
        h1 {
            font-weight: 400;
            padding-top: 80px;
            user-select: none;
        }
        .alt {
            display: none;
        }
        p {
            font-weight: 400;
            font-size: 22px;
            opacity: 0.7;
            padding-bottom: 20px;
        }
        .slog {
            display: inline-block;
            user-select: none;
        }
    }
    .download {
        padding: 10px 20px;
        display: block;
        overflow: hidden;
        background-color: #fff;
        color: $accent !important;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out;
        cursor: pointer;
        display: block;
        position: absolute;
        bottom: -20px;
        &:hover {
            transform: translate(0, -4px);
        }
    }

    .donate-container{
        position: absolute;
        bottom: -20px;
    }

    .donate{
        padding: 10px 20px;
        display: block;
        overflow: hidden;
        background-color: $accent;
        color: #fff !important;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out;
        cursor: pointer;
        display: block;
        margin-right: 10px;
        float: left;

        &:hover {
            transform: translate(0, -4px);
        }
    }
}

@media(max-width: 1199px) {
    header {
        .main {
            width: 80%;
        }
    }
}

@media(max-width: 991px) {
    header {
        .main {
            width: 100%;
        }
    }
    #download {
        li {
            width: 100% !important;
        }
    }
}

@media(max-width: 767px) {
    header {
        img {
            margin: 0 auto;
        }
        .main {
            text-align: center;
            h1 {
                display: none;
                font-size: 25px;
            }
            .alt, .donthide {
                display: block;
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
        }
        .download {
            left: 50%;
            transform: translate(-50%, 0%);
            &:hover {
                transform: translate(-50%, -2px) !important;
            }
        }
    }
    .main-features .a-left .meta {
        padding: 0px !important;
    }
    .block-alt {
        text-align: center;
    }
    .feature {
        padding-bottom: 0px !important;
        text-align: center;
        .img-cont {
            width: 100% !important;
            float: none !important;
            padding: 20px;
            margin-bottom: 15px;
        }
        .meta {
            padding: 0px !important;
            h2 {
                font-size: 23px !important;
            }
            p {
                font-size: 16px !important;
                line-height: 24px !important;
            }
        }
        ul {
            display: block !important;
            overflow: hidden !important;
            li {
                width: 48% !important;
                float: left !important;
                margin-right: 1% !important;
                height: 265px !important;
                margin-bottom: 5px !important;
                background-color: transparent !important;
                svg {
                    margin: 0 auto;
                    padding-bottom: 10px;
                }
                .icon {
                    margin-left: 0px !important;
                }
            }
        }
    }
    footer {
        .inner {
            height: auto !important;
            display: block;
            overflow: hidden;
            background-color: transparent !important;
            ul {
                display: none !important;
            }
            p {
                text-align: center !important;
                float: none;
                overflow: hidden;
            }
        }
    }
    #download{
        text-align: center;

        img{
            width: 100% !important;
        }

        li{
            width: 33.33% !important;
        }
    }
    .feature-switcher{
        display: block !important;

        li{
            width: 49% !important;
            background-color: transparent !important;
        }
    }
}

@media(max-width: 520px){
    #download li{
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .a-left {
        .img-cont {
            float: left !important;
        }
        .meta {
            padding: 0 20px !important;
        }
    }
    .mini {
        .icon {
            margin-left: -4px !important;
        }
    }
}

@media (max-width: 435px) {
    .alt-feature{
        display: none !important;
    }
}

@media (max-width: 520px) {
    .block-alt {
        li {
            background-color: transparent !important;
        }
        .feature-switcher {
            display: block !important;
            li {
                width: 100% !important;
                margin: 0px !important;
            }
        }
    }
}

.main-features {
    margin-top: 60px;
    .feature {
        margin: 20px 0; 
        width: 100%;
        padding-bottom: 50px;
        .img-cont {
            float: right;
            width: 50%;
            img {
                width: 100%;
            }
            .column {
                max-width: 350px;
                margin: 0 auto;
            }
        }
        .padding-r {
            padding: 20px;
        }
        .shadow {
            -webkit-box-shadow: 10px 15px 98px -36px rgba(0, 0, 0, 0.85);
            -moz-box-shadow: 10px 15px 98px -36px rgba(0, 0, 0, 0.85);
            box-shadow: 10px 15px 98px -36px rgba(0, 0, 0, 0.85);
        }
        .big {
            width: 58%;
        }
        .center {
            float: none;
            margin: 0 auto;
            display: block;
            width: 80%;
        }
        .meta {
            padding: 0;
            padding-right: 30px;
            display: block;
            overflow: hidden;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 18px;
                line-height: 30px;
                opacity: 0.85;
            }
        }
        ul {
            list-style-type: none;
            padding: 0px;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            li {
                width: 25%;
                float: left;
                flex: 1;
                margin-right: 5px;
                padding: 15px;
                background-color: #f2f2f2;
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 15px;
                    opacity: 0.8;
                    margin: 0px;
                    padding: 0px;
                }
                svg {
                    display: block;
                    width: 55px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .block {
        margin: 20px 0;
        width: 100%;
        display: block;
        overflow: hidden;
        h2 span {
            display: inline-block;
        }
    }
    .feature-switcher {
        overflow: hidden;
        list-style-type: none;
        padding: 0px;
        position: relative;
        margin-bottom: 0px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        li {
            width: 33.33%;
            float: left;
            padding-bottom: 5px;
            padding-right: 5px;
            flex-grow: 1;
            background-color: #f2f2f2;
            margin-right: 5px;
            margin-bottom: 5px;
            img {
                width: 60%;
                float: right;
            }
            .deets {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                padding: 0 10px;
                img {
                    width: 100%;
                }
            }
            .meta {
                width: 100%;
                transition: 0.1s all ease-in-out;
                padding: 15px;
                flex-basis: 100%;
                h2 {
                    font-size: 18px;
                    font-weight: 300;
                }
                span {
                    font-size: 15px;
                    opacity: 0.8;
                }
            }
        }
    }
}

#download {
    padding-top: 10px;
    img {
        width: 50%;
        float: right;
    }
    ul.dl {
        list-style-type: none;
        padding: 0px;
        margin: 10px 0;
        overflow: hidden;
        li {
            float: left;
            width: 33.33%;
            margin-bottom: 5px;
            a {
                background-color: $accent;
                padding: 10px;
                color: $altTextColor;
                text-decoration: none;
                display: block;
                margin-right: 3px;
                overflow: hidden;
                transition: 0.1s all ease-in-out;
                &:hover {
                    background-color: darken($accent, 5%);
                }
            }
        }
    }

    .tutorial{
        display: none;

        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden; 
            max-width: 100%;
        }
    
        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        blockquote{
            background-color: #e9eaed;
            overflow: hidden;

            iframe{
                width: 100%;
                height: auto;
            }

            .inner{
                padding: 20px;
            }

            em{
                background-color: #c3c2c2;
                color: #000;
                padding: 2px 5px;
                margin-right: 10px;
                font-family: "Lucida Console", Courier, monospace;
                font-style: normal;
            }
        }
    }
    .mac{
        display: none;

        span{
            background-color: #b10b0b;
            color: #fff;
            padding: 2px 10px;
            margin-right: 10px;
        }

        em{
            color: #0078D7;
            font-style: normal;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover{
                opacity: 0.75;
            }
        }
    }
}

footer {
    opacity: 0.75;

    p {
        float: left;
    }
    .heart {
        color: #af0d16;
    }
    ul {
        padding: 0px;
        list-style-type: none;
        float: right;
        margin: 0px;
        li {
            float: left;
            text-transform: uppercase;
            padding-left: 15px;
            font-weight: 400;
            font-size: 15px;
            a {
                text-decoration: none;
                color: $textColor;
                transition: 0.1s all ease-in-out;
                &:hover {
                    text-decoration: none;
                    color: $accent;
                }
            }
        }
    }
}

.soon {
    opacity: 0.75;
}

.dark {
    opacity: 0.8;
}

.edge {
    .em {
        display: none;
    }
    .emr {
        display: block;
    }
}

.emr {
    display: none;
}

@media(min-width:768px){
    .gif img{
        width: 95% !important;
        float: right;
    }
}