.tweeten-release, .privacy {
	margin-top: 60px;
	padding: 0;
	list-style: none;
	position: relative;
}

.privacy{
	padding: 15px;
    margin-top: 20px; 
}

.indicator {
	margin-top: 60px;
}

/* The line */

.tweeten-release:before {
	content: '';
	position: absolute;  
	top: 0;
	bottom: 0;
	width: 10px;
	background: $accent;
	left: 20%;
	margin-left: -10px;
}

.tweeten-release>li {
	position: relative;
}


/* The date/time */

.tweeten-release>li .tweeten_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.tweeten-release>li .tweeten_tmtime span {
	display: block;
	text-align: right;
}

.tweeten-release>li .tweeten_tmtime span:first-child {
	font-size: 0.9em;
	color: $accent;
}

.tweeten-release>li .tweeten_tmtime span:last-child {
	font-size: 2.9em;
	color: $accent;
}

.tweeten-release>li:nth-child(odd) .tweeten_tmtime span:last-child {
	color: darken($accent, 5%);
}


/* Right content */

.tweeten-release>li .tweeten_tmlabel {
	margin: 0 0 15px 25%;
	background: $accent;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;

	
}

.tweeten_tmlabel{
	a{
		color: #fff;
		text-decoration: none;
		opacity: 0.75;
		transition: 0.1s all ease-in-out;

		&:hover{
			opacity: 1;
		}
	}
}

.tweeten-release>li:nth-child(odd) .tweeten_tmlabel {
	background: darken($accent, 5%);
}

.tweeten-release>li .tweeten_tmlabel h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}


/* The triangle */

.tweeten-release>li .tweeten_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: $accent;
	border-width: 10px;
	top: 10px;
}

.tweeten-release>li:nth-child(odd) .tweeten_tmlabel:after {
	border-right-color: darken($accent, 5%);
}


/* The icons */

.tweeten-release>li .tweeten_tmicon {
	width: 40px;
	height: 40px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: darken($accent, 5%);
	border-radius: 50%;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}


/* Example Media Queries */

@media screen and (max-width: 65.375em) {
	.tweeten-release>li .tweeten_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.tweeten-release:before {
		display: none;
	}
	.tweeten-release>li .tweeten_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}
	.tweeten-release>li .tweeten_tmtime span {
		text-align: left;
	}
	.tweeten-release>li .tweeten_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}
	.tweeten-release>li .tweeten_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: $accent;
		top: -20px;
	}
	.tweeten-release>li:nth-child(odd) .tweeten_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: darken($accent, 5%);
	}
	.tweeten-release>li .tweeten_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}

.download-release {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	padding-top: 10px;
	span {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
	}
	.dl-link {
		color: $accent;
		text-decoration: none;
		font-weight: 400;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out;
		cursor: pointer;
		padding: 10px 20px;
		margin-right: 10px;
		background-color: #fff;
		display: inline-block;
		margin-top: 10px;
		font-size: 15px;
		display: inline-block;
		overflow: hidden;
		&:hover {
			color: $accent;
			text-decoration: none;
			transform: translate(0, -4px);
		}
	}
}

.download-release-alt{
	margin-bottom: 15px;
}
